<b>Inventory</b>
<div class="row">
    <table>
        {{#each this.inventory as |item|}}
        <tr>
            <td><img src="{{ item.image }}"></td>
            <td>{{ item.name }}</td>
            <td>{{ item.quantity }}</td>
        </tr>
        {{/each}}
    </table>
</div>