<table>
    <tr>
        <td><InventoryItem/></td><td><InventoryItem/></td><td><InventoryItem/></td><td><InventoryItem/></td><td><InventoryItem/></td><td><InventoryItem/></td><td><InventoryItem/></td>
    </tr>
    <tr>
        <td><InventoryItem/></td><td><InventoryItem/></td><td><InventoryItem/></td><td><InventoryItem/></td><td><InventoryItem/></td><td><InventoryItem/></td><td><InventoryItem/></td>
    </tr>
    <tr>
        <td><InventoryItem/></td><td><InventoryItem/></td><td><InventoryItem/></td><td><InventoryItem/></td><td><InventoryItem/></td><td><InventoryItem/></td><td><InventoryItem/></td>
    </tr>
    <tr>
        <td><InventoryItem/></td><td><InventoryItem/></td><td><InventoryItem/></td><td><InventoryItem/></td><td><InventoryItem/></td><td><InventoryItem/></td><td><InventoryItem/></td>
    </tr>
    <tr>
        <td><InventoryItem/></td><td><InventoryItem/></td><td><InventoryItem/></td><td><InventoryItem/></td><td><InventoryItem/></td><td><InventoryItem/></td><td><InventoryItem/></td>
    </tr>
    <tr>
        <td><InventoryItem/></td><td><InventoryItem/></td><td><InventoryItem/></td><td><InventoryItem/></td><td><InventoryItem/></td><td><InventoryItem/></td><td><InventoryItem/></td>
    </tr>
</table>
{{outlet}}
