Attributes
<table>
    <tr><td>Strength</td><td>98</td></tr>
    <tr><td>Agility</td><td>104</td></tr>
    <tr><td>Dexterity</td><td>50</td></tr>
    <tr><td>Cunning</td><td>11</td></tr>
    <tr><td>Vigor</td><td>76</td></tr>
</table>
